[Unit]
Description=Lichess Chess Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/home/forbes/repos/chess/.env
ExecStart=/home/forbes/repos/chess/engine/build/lichess_bot --engine=negamax --eval=nnue --nnue-weights=/home/forbes/repos/chess/nnue.bin --book=/home/forbes/repos/chess/book.bin
TimeoutStopSec=5
Restart=always
RestartSec=5
WorkingDirectory=/home/forbes/repos/chess
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
